.search {
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: #fbfbfb;
}
.search .S-title {
  line-height: 1.2rem;
  height: 1.2rem;
  text-align: center;
}
.search .S-title i {
  display: inline-block;
  background-color: #ebecec;
  height: 0.6rem;
  width: 0.6rem;
  vertical-align: -0.19rem;
}
.search .S-title i:first-child {
  border-radius: 50% 0 0 50%;
}
.search .S-title i:last-child {
  border-radius: 0% 50% 50% 0%;
}
.search .S-title input {
  background-color: #ebecec;
  width: 5.9rem;
  height: 0.6rem;
}
